body {
  background:#fafafa;
}

.Slices-container {
  position:relative;
}

.CutBand {
  position: absolute;
  right: -30px;
  width: 20px;

  top:0; /* hug top and bottom */
  bottom:0; /* hug top and bottom */
  background: #ddd;
}
.CutBand:hover {
  cursor:crosshair;
}


.SliceTextboxes-label {
  font-size: 0.7em;
  display:block;
  margin-bottom: 0.3em;
}
.SliceTextboxes-label.inline {
  display: inline-block;
  margin-right:1em;
}

.SliceTextboxes-textinput {
  width: 250px
}